 /* Navbar container */
.navbar {
  
  overflow: hidden;
  background-color: #333;
  padding:30px;

}


/*links*/
.navbar a, .dropdown:hover {
  float: center;
  font-size: 40px;
  
  color: white;
  padding: 100px 80px;
  text-decoration: none;
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  
} 


/* the container*/
.dropdown {
  float:inherit;
  overflow:visible;
  display: inline-block;
  position: fixed;
  
}


/*the button */
.dropdown .dropbtn {
  font-size:40px;  
  border:none;
  outline:inherit;
  padding:inherit;
  margin:auto;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display:none;
  position:relative;
  background-color: #f9f9f9;
  min-width:none;
  max-width:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  float:none;
    position: static;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a red background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkred;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display:block;
}
